* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.topicon i {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: rgba(52,58,64,.5);
    padding: 17px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.topicon i:hover {
    background-color: #343a40;
}

.first {
    text-align: center;
    padding: 182px 0;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first h1 {
    font-size: 88px;
    font-weight: 700;
    color: #212529;
}

.first h3 {
    font-size: 28px;
    font-weight: 700;
    color: #212529;
    font-style: italic;
    margin-bottom: 50px;
}

.first button {
    color: #ffffff;
    font-size: 16px;
    background: #1d809f;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    transition: 0.15s;
    cursor: pointer;
}

.first button:hover {
    background-color: #155d74;
}

.second {
    text-align: center;
    padding: 120px 0;
    background-color: #f8f9fa;
}

.second h2 {
    font-size: 32px;
    color: #212529;
    font-weight: 700;
    margin-bottom: 10px;
}

.second p {
    font-size: 20px;
    color: #212529;
    font-weight: 300;
    margin-bottom: 50px;
}

.second a {
    text-decoration: none;
    color: #1d809f;
}

.second button {
    color: #ffffff;
    font-size: 16px;
    background: #343a40;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    transition: 0.15s;
    cursor: pointer;
}

.second button:hover {
    background-color: #212529;
}

.third {
    text-align: center;
    background-color: #1d809f;
    padding: 120px 50px 330px;
}

.third .third-text h3 {
    color: #ecb807;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.third .third-text h2 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

.third .third-icon .icon-box {
    width: 25%;
    float: left;
}

.third .third-icon .icon-box i {
    background-color: #1d809f;
    color: #ffffff;
    font-size: 7.5rem;
    margin-bottom: 20px;
}

.third .third-icon .icon-box h4 {
    font-size: 24px;
    font-weight: bolder;
    color: #ffffff;
    margin-bottom: 10px;
}

.third .third-icon .icon-box p {
    color: rgba(255,255,255,.7);
    font-size: 16px;
}

.fourth {
    text-align: center;
    padding: 238px 0;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-callout.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fourth h2 {
    font-size: 56px;
    color: #212529;
    font-weight: 700;
    margin-bottom: 50px;
}

.fourth button {
    color: #ffffff;
    font-size: 16px;
    background: #1d809f;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    transition: 0.15s;
    cursor: pointer;
}

.fourth button:hover {
    background-color: #155d74;
}

.fifth {
    text-align: center;
    padding: 120px 0;
}

.fifth .fifth-text h3 {
    color: #ecb807;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.fifth .fifth-text h2 {
    color: #212529;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
}

.fifth .fifth-image {
    width: 88%;
    margin: auto;
}

.fifth-image-text {
    z-index: 999;
}

.fifth .fifth-image .image-box {
    width: 50%;
    float: left;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}

.fifth .fifth-image .image-box:hover .overlay {
    background-color: #1d809f;
    opacity: 0.9;
}

.fifth .fifth-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(33,37,41,.2);
    opacity: 1;
    transition: 0.8s;
}

.fifth .fifth-image .image-box .fifth-image-text {
    position: absolute;
    bottom: 85px;
    left: 80px;
}

.fifth .fifth-image .image-box .fifth-image-text h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 12.8px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 7px;
}

.fifth .fifth-image .image-box .fifth-image-text p {
    font-size: 19.2px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    line-height: 1.5;
}

.fifth .fifth-image .image-box img {
    width: 100%;
}

.fifth .fifth-image .image-box:hover {
    transform: scale(0.87);
}

.clear {
    clear: both;
}

.sixth {
    text-align: center;
    background-color: #1d809f;
    padding: 120px 0;
    margin-top: 110px;
}

.sixth h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sixth .btn1 {
    color: #343a40;
    font-size: 16px;
    background: #ffffff;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    transition: 0.15s;
    cursor: pointer;
    margin-right: 25px;
}

.sixth .btn1:hover {
    background-color: #e2e6ea;
}

.sixth button {
    color: #ffffff;
    font-size: 16px;
    background: #343a40;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    transition: 0.15s;
    cursor: pointer;
}

.sixth button:hover {
    background-color: #212529;
}

.social {
    padding: 70px 480px;
    text-align: center;
}

.social .social-box {
    width: 33%;
    float: left;
    margin-bottom: 50px;
}

.social .social-box i {
    font-size: 4rem;
    color: #1d809f;
    background-color: #fff;
    transition: 0.15s;
    cursor: pointer;
}

.social .social-box i:hover {
    color: #155d74;
}

.social p {
    color: #6c757d;
    font-size: 12.8px;
    font-weight: 400;
}

.boticon i {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #fff;
    background-color: rgba(52,58,64,.5);
    padding: 17px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.boticon i:hover {
    background-color: #343a40;
}
